html, body {
    height: 100%;
	width:100%;
	
}
.container{
	background:url("vege.jpg");
	background-repeat: no-repeat;
	background-size: auto ;
}
.main{
	background-color:rgba(255,255, 255, 0.7);
	margin:auto;
	height:100%;
	padding:10px 20px ;
	
}

html {
    display: table;
    margin: auto;
}

body {
    align-items: center;	
}
.shop-add{
    align-items: center;
}
input{
    margin:0;
}

.form-control{
	width:100%;
}
h3,h2,h4,h5{
	text-align:center;
	color:black;
	
}
label{
	padding:5px;
}

.fruitsItems, .vegeItems, .dairyItems,.bakeryItems, .hygenicItems{
	text-align:center;
	padding:0;
	background-color:rgba(255,255, 255, 0.8);
}
.item{
	padding-bottom:10px;
	padding-top:10px;
	margin:10px;

}
.addingButton,.editButton,.removeButton,.confirmEdit{
	margin:5px;
}
.amountInput{
	align-items:center;
	margin:0;
	text-align:center;
	padding-bottom:5px;
}
.itemName, .itemAmount{
	margin-bottom:10px;
}
.productsAmount{
	text-align:center;
	margin:auto;
}
.lists{
	border-top:2px black solid;
	padding-top:10px;
}

@media print {
   .removeButton,.editButton {
       display: none;
    }
    #non-printable{
		display:none;
	}
}
@media (max-width: 700px) {
  .title {
    text-align:center;
  }
}

/* drag and drop */
.draggable {
      will-change: transform;
      font-family: $fontFamily;
      font-weight: 600;
      list-style-type: none;
      margin: 10px;
      /* //width: 250px; */
      line-height: 3.2;
      cursor: move;
      transition: all 200ms;
      margin: 10px auto;
      position: relative;
      } 
.draggable:after{
        right: 7px;
        font-size: 10px;
        position: absolute;
        cursor: pointer;
        line-height: 5;
        transition: all 200ms;
        transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.50);
        transform: translateX(120%);
        opacity: 0;
}
.draggable:hover:after{
	opacity: 1;
}
.over {
  transform: scale(1.2, 1.2);
}
    

