html, body {
    height: 100%;
	width:100%;
	
}
.container{
	background:url("vege.jpg");
	background-repeat: no-repeat;
	background-size: auto ;
}
.main{
	background-color:rgba(255,255, 255, 0.7);
	margin:auto;
	height:100%;
	padding:10px 20px ;
	
}
html {
    display: table;
    margin: auto;
}

body {
    align-items: center;	
}
.shop-add{
    align-items: center;
}
input{
    margin:0;
}

.form-control{
	width:100%;
}
h3,h2,h4,h5{
	text-align:center;
	color:black;
	
}
label{
	padding:5px;
}

.fruitsItems, .vegeItems, .dairyItems,.bakeryItems, .hygenicItems{
	text-align:center;
	padding:0;
	background-color:rgba(255,255, 255, 0.8);
}
.item{
	padding-bottom:10px;
	padding-top:10px;
	margin:10px;

}
.addingButton,.editButton,.removeButton,.confirmEdit{
	margin:5px;
}
.amountInput{
	align-items:center;
	margin:0;
	text-align:center;
	padding-bottom:5px;
}
.itemName, .itemAmount{
	margin-bottom:10px;
}
.productsAmount{
	text-align:center;
	margin:auto;
}
.lists{
	border-top:2px black solid;
	padding-top:10px;
}

@media print {
   .removeButton,.editButton {
       display: none;
    }
    #non-printable{
		display:none;
	}
}


/* [draggable] { */
  /* -moz-user-select: none; */
  /* -khtml-user-select: none; */
  /* -webkit-user-select: none; */
  /* user-select: none; */
  /* /* Required to make elements draggable in old WebKit */ */
  /* -khtml-user-drag: element; */
  /* -webkit-user-drag: element; */
/* } */

/* #columns { */
  /* list-style-type: none; */
/* } */

/* .column { */
  /* width: 162px; */
  /* padding-bottom: 5px; */
  /* padding-top: 5px; */
  /* text-align: center; */
  /* cursor: move; */
/* } */
/* .column header { */
  /* height: 20px; */
  /* width: 150px; */
  /* color: black; */
  /* background-color: #ccc; */
  /* padding: 5px; */
  /* border-bottom: 1px solid #ddd; */
  /* border-radius: 10px; */
  /* border: 2px solid #666666; */
/* } */

/* .column.dragElem { */
  /* opacity: 0.4; */
/* } */
/* .column.over { */
  /* //border: 2px dashed #000; */
  /* border-top: 2px solid blue; */
/* } */
